<!--page for the option for a new board or an old board-->
{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet"    href="{{ url_for('static', filename='main/css/popup.css') }}">
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='main/js/popup.js') }}" defer></script>
{% endblock %}
{% block maincontent %}
<div class="buttons">
    <button id="new" onclick=NewBoard()>create a new Board</button>
    <button id="list" onclick=BoardsPage()>open an existing Board</button>
</div>
{% endblock %}